@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', serif;
    /*transition: .2s;*/
}

a {
    text-decoration: none;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 1200px;
}

body.dark-theme {
    background-color: #333333;
}


::-webkit-scrollbar {
    width: 0;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}


.switcher {
    font-weight: 500;
    cursor: pointer;
}

.switcher {
    color: black;
}

body.dark-theme .switcher {
    color: white;
}

/* Header */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header {
    margin-top: 50px;
}


/* Navigation */

header nav a {
    font-weight: 500;
    color: #6B7280;
}

body.dark-theme header nav a {
    color: #F2F2F2;
}

.active_nav {
    text-decoration: underline;
}

header nav a:hover {
    text-decoration: underline;
}

header nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Social  */

.social {
    margin-top: 40px;

    height: 35px;
    width: 320px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

footer.mail_link{
    text-decoration: underline;
    font-size: 18px;
}

footer h2{
    color: #333333;
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0;
}

footer h3{
    font-size: 18px;
    color: #6B7280;
    margin-bottom: 0;
    margin-top: 38px;
    font-weight: normal;
}
