{% extends "base.html" %}

{% block title %}IgorDuino Blog | Create Article{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
{% endblock %}

{% block main %}

    <form action="" method="post">
        <textarea id="my-text-area"></textarea>
        <script>


        </script>
    </form>
{% endblock %}


